<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>Login Page</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
	
	<style type="text/css">
		.outerDiv{height:40px;width:100%;}
		#div1{width:20%;}
		input,button{width:100%;height:40px;box-sizing: border-box;}
	</style>
	
</head>
<body>

	<div>
		<form action="/">
			<div id="div1">
				<div class="outerDiv">
					<input type="text" id="username" ng-model="username" required placeholder="username for USER"/>
				</div>
				<div class="outerDiv" style="margin-top: 5px;margin-bottom: 5px;">
					<input type="password" id="password" ng-model="password" required placeholder="password for USER"/>
				</div>
				<div class="outerDiv">
					<button type="button" ng-click="submit()">User Login</button>
				</div>
			</div>
		</form>
	</div>	

</body>
</html>